<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <form>
        <label for="username">Username</label>
        <input id="username"
               ng-model="username"
               type="text"
               class="form-control"
               placeholder="Username"/>

        <label for="password">Username</label>
        <input id="password"
               ng-model="password"
               type="password"
               class="form-control"
               placeholder="Password"/>
    </form>

    <a ng-click="model.login(username, password)"
       class="btn btn-block btn-primary">Login</a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Login with Facebook
    </a>
    <a href="#!/register"
       class="btn btn-block btn-success">Register</a>
</div>