<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input id="username"
           ng-model="username"
           type="text"
           class="form-control"
           placeholder="username"/>

    <label for="password">Password</label>
    <input id="password"
           ng-model="password"
           type="password"
           class="form-control"
           placeholder="password"/>

    <label for="password2">Confirm Password</label>
    <input id="password2"
           ng-model="password2"
           type="password"
           class="form-control"
           placeholder="confirm password"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.register(username, password, password2)">Register</a>

    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>
