<nav class="pg-navbar navbar-fixed-top">
    <div class="navbar-header">
        <a href="#!/user/{{model.user._id}}/website/{{model.websiteId}}/page/{{model.pageId}}"
           class="back-arrow navbar-brand glyphicon glyphicon-chevron-left"></a>
        <a class="navbar-brand"
           href="#"><b>Widget Chooser</b></a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group col-lg-12">
        <li class="list-group-item">
            <a href="widget-heading.view.client.html">
                Header
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Label
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                HTML
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Text Input
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Link
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Button
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-image.view.client.html">
                Image
            </a>
        </li>

        <li class="list-group-item">
            <a href="widget-youtube.view.client.html">
                YouTube
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Data Table
            </a>
        </li>

        <li class="list-group-item">
            <a href="#">
                Repeater
            </a>
        </li>

    </ul>
</div>

<nav class="pg-navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#!/user/{{model.user._id}}"
           class="navbar-brand pull-right glyphicon glyphicon-user"></a>
    </div>
</nav>