<nav class="navbar navbar-fixed-top">
    <div class="navbar-header">
        <div class="col-sm-4 hidden-xs">
            <a href="#!/user/{{model.user._id}}/website"
               class="navbar-brand glyphicon glyphicon-chevron-left"></a>

            <a class="navbar-brand"
               href="#"><b>Websites</b></a>

            <a href="#!/user/{{model.user._id}}/website/new"
               class="navbar-brand pull-right glyphicon glyphicon-plus"></a>
        </div>
        <div class="col-lg-8">
            <a href=#!/user/{{model.user._id}}/website"
               class="visible-xs hidden-sm back-arrow navbar-brand glyphicon glyphicon-chevron-left"></a>
            <a class="navbar-brand"
               href="#"><b>Edit Website</b></a>

            <a ng-click="model.updateWebsite(model.website)"
               class="pull-right navbar-brand glyphicon glyphicon-ok"></a>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs scrollable-left">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <a href="#!/user/{{model.user._id}}/website/{{website._id}}/page"
                           class="col-lg-11">
                            {{website.name}}
                        </a>
                        <a href="#!/user/{{model.user._id}}/website/{{website._id}}"
                           class="col-lg-1 pull-right glyphicon glyphicon-cog"></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-8">
            <form>
                <div class="form-group">
                    <label for="name">Website Name</label>
                    <input ng-model="model.website.name"
                           type="text"
                           class="form-control"
                           id="name"
                           placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="description">Website Description</label>
                    <textarea ng-model="model.website.description"
                              class="form-control"
                              id="description"
                              rows="5"
                              placeholder="Description"></textarea>
                </div>

                <a class="btn btn-danger  btn-block"
                   ng-click="model.deleteWebsite(model.website)">Delete</a>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#!/user/{{model.user._id}}" class="navbar-brand pull-right glyphicon glyphicon-user"></a>
    </div>
</nav>