<nav class="pg-navbar navbar-fixed-top">
    <div class="navbar-header">
        <a href="#!/user/{{model.user._id}}/website/{{model.websiteID}}"
           class="back-arrow navbar-brand glyphicon glyphicon-chevron-left"></a>
        <a class="navbar-brand"
           href="#"><b>Pages</b></a>
        <a href="#!/user/{{model.user._id}}/website/{{model.websiteID}}/page/new"
           class="navbar-brand pull-right glyphicon glyphicon-plus"></a>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <div class="row">
                <a href="#!/user/{{model.user._id}}/website/{{model.websiteID}}/page/{{page._id}}/widget"
                   class="col-lg-5 col-sm-11">
                    {{page.name}}
                </a>
                <div class="col-lg-6 visible-lg">
                    {{page.description}}
                </div>
                <a href="#!/user/{{model.user._id}}/website/{{model.websiteID}}/page/{{page._id}}"
                   class="col-lg-1 pull-right glyphicon glyphicon-cog"></a>
            </div>
        </li>
    </ul>
</div>

<nav class="pg-navbar navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#!/user/{{model.user._id}}"
           class="navbar-brand pull-right glyphicon glyphicon-user"></a>
    </div>
</nav>